body {
  font-family: 'Roboto', serif;
  width: 100%;
  height: auto;
  background: whitesmoke;
  position: relative;
  display: grid;
  grid-template: 8rem 2rem auto auto 40rem / auto;
  grid-template-areas: "header" "marqueetxt" "main" "nwslttr" "footer"; }

#fourofourBody {
  height: 100vh;
  grid-template: 50% 50% / auto;
  grid-template-areas: "error" "footer"; }

footer {
  grid-area: footer;
  border-top: solid 0.2rem #E21D7B;
  width: 100%;
  height: 100%;
  padding: .5rem .8rem;
  position: absolute;
  bottom: 0; }
  footer a {
    display: inline-block;
    padding: .2rem; }
  footer .footmark {
    width: 30%; }

form.search {
  display: inline-block;
  height: 15px; }
  form.search .searchText {
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 1.5rem;
    padding: 2px;
    width: 0; }
  form.search:hover > .searchText {
    transition: .3s;
    width: 177px; }

.contactPageMain {
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .contactPageMain .contactForm span {
    display: block;
    margin: 10px 0; }
  .contactPageMain .contactForm #contactForm__reason, .contactPageMain .contactForm #contactForm__textInputs input, .contactPageMain .contactForm #contactForm__textInputs textarea {
    border: solid 0.2rem #474747;
    font-size: 1.6rem;
    background: whitesmoke;
    color: black;
    padding: .2rem;
    width: 100%; }
    .contactPageMain .contactForm #contactForm__reason:active, .contactPageMain .contactForm #contactForm__textInputs input:active, .contactPageMain .contactForm #contactForm__textInputs textarea:active {
      border-radius: 0; }
  .contactPageMain .contactForm #contactForm__reason:invalid {
    color: gray;
    /*estilo de placeholder para select*/ }
  .contactPageMain .contactForm textarea {
    height: 6rem;
    resize: none;
    font-family: inherit;
    height: 10rem; }
  .contactPageMain .contactForm #contactForm__checkAndButtons label, .contactPageMain .contactForm #contactForm__checkAndButtons input {
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    color: black;
    padding: .2rem; }
  .contactPageMain .contactForm #contactForm__checkAndButtons span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    .contactPageMain .contactForm #contactForm__checkAndButtons span input {
      border: solid 0.2rem #474747;
      width: 15%;
      margin: 0 .5rem; }
      .contactPageMain .contactForm #contactForm__checkAndButtons span input:active {
        background: #c9196e; }
    .contactPageMain .contactForm #contactForm__checkAndButtons span #send:active {
      background: #c9196e; }
  .contactPageMain .locationMap {
    width: 100%;
    padding: .2rem; }
    .contactPageMain .locationMap iframe {
      width: 100%; }

header {
  grid-area: header;
  height: auto;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(245, 245, 245, 0.966);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 99999; }
  header .header__logotype {
    display: none; }
  header .header__isotype {
    padding: .5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    animation: bounce 1.5s cubic-bezier(0.37, 0.01, 0.63, 1) infinite; }
  header div.header__icons {
    padding: .8rem 0;
    height: 100%;
    display: flex;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; }
    header div.header__icons .search {
      position: absolute; }
    header div.header__icons .searchButton {
      position: absolute; }
  header #hamMenuIcon {
    position: absolute;
    top: 1rem;
    left: 1rem; }

@keyframes bounce {
  0% {
    transform: translate(0, -0.1rem); }
  50% {
    transform: translate(0, 0.1rem); }
  100% {
    transform: translate(0, -0.1rem); } }

main {
  width: 100%;
  grid-area: main;
  min-height: 80vh;
  overflow: hidden; }

.mainHome {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

#fourofourMain {
  min-height: initial;
  grid-area: error; }

.navBar {
  display: none;
  /* grid-area: sideBar;
    color: whitesmoke;
    font-weight: 900;
    text-shadow: .1rem .1rem 0 map-get($palette,mydarkblue);
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;

        ul.navBar__infoTag {

            display: inline-block;

            li {
                list-style: none;
            }
        }
        
        a {
            display: inline-block;
            width: 100%;

        }

        #productsTab {

            #desplegableCategories {
            
                li {
                    color: map-get($palette,mydarkblue);
                    text-shadow: .1rem .1rem 0 whitesmoke;

                    &:hover {
                        background-color: map-get($palette, mydarkblue);
                        color: whitesmoke;
                        text-shadow: none;
                    }
                }
            }

            a {
                display: inline-block;
                width: 100%;
            }

            
        } */ }

.navMenu {
  position: absolute;
  top: 4rem;
  padding: 0 1.5rem 1rem;
  width: 100%;
  display: none;
  height: 100%;
  grid-area: sideBar;
  background-color: whitesmoke;
  text-align: left;
  z-index: 9999999; }
  .navMenu .navMenu__list {
    list-style: none;
    width: 100%;
    height: auto;
    flex-grow: 1;
    color: #1DE284;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 2px 0 #13130e; }
    .navMenu .navMenu__list li {
      padding: .5rem 0;
      width: 100%;
      text-transform: uppercase; }
      .navMenu .navMenu__list li:not(:first-of-type) {
        border-top: 0.1rem solid #1DE284; }
      .navMenu .navMenu__list li a {
        width: 100%; }
        .navMenu .navMenu__list li a:active {
          text-shadow: .2rem .2rem 0 gray; }
    .navMenu .navMenu__list li#productsTab a.collapsed span#arrowup {
      display: none; }
    .navMenu .navMenu__list li#productsTab a.collapsed span#arrowdw {
      display: inline; }
    .navMenu .navMenu__list li#productsTab span#arrowup {
      display: inline; }
    .navMenu .navMenu__list li#productsTab span#arrowdw {
      display: none; }
    .navMenu .navMenu__list li#productsTab #desplegableCategories {
      list-style: none;
      background-color: rgba(233, 233, 233, 0.603);
      width: 70%;
      padding: 0 .5rem; }
      .navMenu .navMenu__list li#productsTab #desplegableCategories li {
        text-transform: lowercase; }
    .navMenu .navMenu__list a {
      display: inline-block;
      width: 100%; }
  .navMenu #navMenu__newsletter {
    border-bottom: 0.1rem solid #353535;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
    .navMenu #navMenu__newsletter label {
      display: block; }
  .navMenu .links {
    list-style: none; }
    .navMenu .links a:active {
      text-decoration: underline; }
    .navMenu .links li {
      line-height: 2rem; }
      .navMenu .links li:nth-child(3) {
        border-bottom: 0.1rem solid #353535;
        padding-bottom: 1rem; }
      .navMenu .links li:nth-child(4) {
        padding-top: 1rem; }
  .navMenu .footmark {
    width: 25%; }

.show {
  display: flex;
  flex-flow: column nowrap; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3.5rem;
  /* color: map-get($palette, mygreen );
    text-shadow: 2px 2px 0 map-get($palette, myyellow); */
  color: black;
  display: block;
  height: fit-content;
  padding: .2rem .5rem;
  text-transform: capitalize;
  border-bottom: solid 0.3rem #E21D7B; }

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: black;
  padding: .2rem;
  text-transform: capitalize; }

.extenseText {
  padding: 0 8px;
  color: #0f0f0f;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
  list-style-position: inside;
  background: rgba(245, 245, 245, 0.938); }
  .extenseText p {
    padding: 3px 0; }
    .extenseText p::selection, .extenseText p .extenseText li::selection {
      background-color: #E21D7B; }

footer {
  font-size: 1.2rem; }

form#homeNewsletter {
  font-size: 1.8rem; }

.popUpOuter {
  width: 100vw;
  height: 100vh;
  background-color: rgba(65, 65, 65, 0.527);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9999999999; }
  .popUpOuter .popUpInner {
    display: flex;
    flex-flow: column nowrap;
    border: groove 0.8rem;
    background: url(../img/destroy.gif);
    background-position: top;
    background-size: 70vw;
    position: relative;
    width: 70vw;
    height: 70vw; }
    .popUpOuter .popUpInner #popUpInner__closeButtonContainer {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      padding: 5px;
      height: min-content; }
      .popUpOuter .popUpInner #popUpInner__closeButtonContainer .closed {
        height: 1rem;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        font-weight: 100;
        font-size: 1.5rem;
        line-height: 0;
        border: unset;
        background-color: red;
        color: white; }
    .popUpOuter .popUpInner #popUpInner__newsletterContainer {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      color: whitesmoke;
      font-size: 1.4rem;
      font-weight: 500;
      text-shadow: 0.2rem 0.2rem 0 #1DE284;
      padding: 8px 0; }
      .popUpOuter .popUpInner #popUpInner__newsletterContainer form {
        display: flex;
        flex-flow: row nowrap;
        font-size: 1rem;
        width: 100%;
        padding: .3rem .8rem;
        justify-content: center; }
        .popUpOuter .popUpInner #popUpInner__newsletterContainer form input:nth-child(1) {
          width: 85%; }
        .popUpOuter .popUpInner #popUpInner__newsletterContainer form input:nth-child(2) {
          width: 15%; }

section#tshirts .product__grid, section#tops .product__grid, section#pants .product__grid, section#accs .product__grid {
  padding: 0 3rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  grid-template-areas: "1 2" "3 4" "5 6" "7 8";
  row-gap: 3rem;
  column-gap: 3rem;
  margin: 1rem 0 1.6rem; }
  section#tshirts .product__grid img:nth-child(1), section#tops .product__grid img:nth-child(1), section#pants .product__grid img:nth-child(1), section#accs .product__grid img:nth-child(1) {
    grid-area: 1; }
  section#tshirts .product__grid img:nth-child(2), section#tops .product__grid img:nth-child(2), section#pants .product__grid img:nth-child(2), section#accs .product__grid img:nth-child(2) {
    grid-area: 2; }
  section#tshirts .product__grid img:nth-child(3), section#tops .product__grid img:nth-child(3), section#pants .product__grid img:nth-child(3), section#accs .product__grid img:nth-child(3) {
    grid-area: 3; }
  section#tshirts .product__grid img:nth-child(4), section#tops .product__grid img:nth-child(4), section#pants .product__grid img:nth-child(4), section#accs .product__grid img:nth-child(4) {
    grid-area: 4; }
  section#tshirts .product__grid img:nth-child(5), section#tops .product__grid img:nth-child(5), section#pants .product__grid img:nth-child(5), section#accs .product__grid img:nth-child(5) {
    grid-area: 5; }
  section#tshirts .product__grid img:nth-child(6), section#tops .product__grid img:nth-child(6), section#pants .product__grid img:nth-child(6), section#accs .product__grid img:nth-child(6) {
    grid-area: 6; }
  section#tshirts .product__grid img:nth-child(7), section#tops .product__grid img:nth-child(7), section#pants .product__grid img:nth-child(7), section#accs .product__grid img:nth-child(7) {
    grid-area: 7; }
  section#tshirts .product__grid img:nth-child(8), section#tops .product__grid img:nth-child(8), section#pants .product__grid img:nth-child(8), section#accs .product__grid img:nth-child(8) {
    grid-area: 8; }
  section#tshirts .product__grid .product__grid__itemViewBox, section#tops .product__grid .product__grid__itemViewBox, section#pants .product__grid .product__grid__itemViewBox, section#accs .product__grid .product__grid__itemViewBox {
    text-align: center; }
    section#tshirts .product__grid .product__grid__itemViewBox a img, section#tops .product__grid .product__grid__itemViewBox a img, section#pants .product__grid .product__grid__itemViewBox a img, section#accs .product__grid .product__grid__itemViewBox a img {
      width: 45%;
      display: inline-block; }
    section#tshirts .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__title, section#tops .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__title, section#pants .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__title, section#accs .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__title {
      display: block;
      font-weight: 500;
      font-style: italic;
      font-size: 1.6rem;
      color: #1b1b1b;
      margin: .5rem 0; }
    section#tshirts .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__price, section#tops .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__price, section#pants .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__price, section#accs .product__grid .product__grid__itemViewBox .product__grid__itemViewBox__price {
      display: inline-block;
      font-weight: 500;
      font-style: italic;
      font-size: 1.6rem;
      color: #1b1b1b; }
    section#tshirts .product__grid .product__grid__itemViewBox .button--green, section#tops .product__grid .product__grid__itemViewBox .button--green, section#pants .product__grid .product__grid__itemViewBox .button--green, section#accs .product__grid .product__grid__itemViewBox .button--green {
      background-color: #13130e; }

/* PAGINA PRODUCT VIEW */
#productViewPageMain {
  color: black;
  font-weight: 400;
  font-size: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  padding: 3.5rem 0; }
  #productViewPageMain div.productView {
    display: none; }
    #productViewPageMain div.productView:target {
      display: grid; }
    #productViewPageMain div.productView span#itemData {
      height: fit-content;
      text-transform: capitalize; }
      #productViewPageMain div.productView span#itemData h2 {
        font-size: 3rem; }
      #productViewPageMain div.productView span#itemData h3 {
        font-size: 2.5rem;
        font-weight: 900; }
    #productViewPageMain div.productView #purchaseInterface {
      width: 100%;
      /* display: flex;
            flex-flow: column nowrap;
            align-items: left; */ }
      #productViewPageMain div.productView #purchaseInterface select {
        border-radius: 0;
        border: solid 0.2rem #474747;
        background-color: whitesmoke;
        color: #474747; }
        #productViewPageMain div.productView #purchaseInterface select:focus {
          border-radius: 0; }
      #productViewPageMain div.productView #purchaseInterface label {
        width: fit-content;
        font-weight: 400;
        font-size: 2rem;
        color: #474747;
        padding: 0 3px;
        width: 12%; }
      #productViewPageMain div.productView #purchaseInterface input {
        font-weight: 400;
        font-size: 2.3rem;
        color: #474747;
        padding: .2rem .8rem;
        border: solid 0.2rem #474747; }
      #productViewPageMain div.productView #purchaseInterface input#buy {
        background-color: #1DE284;
        margin-left: 1rem; }
        #productViewPageMain div.productView #purchaseInterface input#buy:active {
          background-color: #17af66; }
      #productViewPageMain div.productView #purchaseInterface input#addCart:active {
        background-color: #dfdfdf; }
      #productViewPageMain div.productView #purchaseInterface #description {
        display: inline-block;
        width: 100%;
        font-size: 1.6rem;
        background-color: whitesmoke;
        text-align: justify; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

hr {
  display: none; }

button {
  background: unset;
  border: unset;
  color: unset;
  align-content: center; }

a {
  color: inherit;
  text-decoration: none;
  font-style: normal; }
  a:hover {
    color: unset;
    text-decoration: unset; }

.icon {
  height: 2rem;
  width: 2rem; }

.button {
  display: inline-block;
  text-decoration: none;
  padding: .2rem .1rem;
  border: .3rem outset; }

#up {
  width: 5rem;
  height: 5rem;
  padding: .5rem;
  text-align: center;
  font-size: 2.5rem;
  position: fixed;
  right: 0rem;
  bottom: 2rem;
  background-color: #E21D7B;
  z-index: 9999; }
  #up:hover {
    background-color: #c9196e; }

.marqueeText {
  grid-area: marqueetxt;
  background-color: black;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: .3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden; }

@keyframes marqueetxt {
  0% {
    transform: translate(110%, 0); }
  100% {
    transform: translate(-100%, 0); } }
  .marqueeText span {
    animation: marqueetxt 12s infinite linear; }

.breadcrumb {
  background-color: whitesmoke;
  border-bottom: solid 0.1rem #474747;
  border-radius: 0; }

.featured {
  width: 100%;
  height: 6.25vw;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  z-index: 99; }

@keyframes marquee1 {
  0% {
    transform: translate(-800%, 0);
    transform: rotate(0deg); }
  100% {
    transform: translate(0, 0);
    transform: rotate(360deg); } }
  .featured .marquee1 {
    transform: translate(-800, 0);
    display: inline-block;
    width: 12.5%;
    animation: marquee1 3s infinite linear; }

@keyframes marquee2 {
  0% {
    transform: translate(-800%, 0);
    transform: rotate(0deg); }
  100% {
    transform: translate(0, 0);
    transform: rotate(360deg); } }
  .featured .marquee2 {
    display: inline-block;
    width: 12.5%;
    animation: marquee2 3s infinite linear; }
  .featured:hover > .marquee2, .featured:hover > .marquee1 {
    animation-play-state: paused; }

@media screen and (min-width: 768px) {
  body {
    grid-template: 8rem 2rem auto auto 40rem / auto;
    grid-template-areas: "header" "marqueetxt" "main" "nwslttr" "footer"; }
  #fourofourBody {
    grid-template: 50% 50% / auto;
    grid-template-areas: "error" "footer"; }
  header {
    display: inherit;
    align-items: center; }
    header #hamMenuIcon {
      display: none; }
    header .header__isotype {
      display: none; }
    header a.header__logotype {
      position: absolute;
      display: flex;
      flex-flow: row;
      justify-content: center;
      z-index: 999; }
      header a.header__logotype img#logotype {
        width: 100%; }
    header a#logoColor img.logotypeColor {
      width: 78.9%; }
  .marqueeText {
    font-size: 1.5rem;
    font-weight: 500; }
  @keyframes marqueetxt {
    0% {
      transform: translate(100%, 0); }
    100% {
      transform: translate(-40%, 0); } }
  .navMenu {
    top: 5rem;
    min-height: 66vh;
    font-size: 1.6rem;
    line-height: 5rem;
    text-align: left;
    padding: 1rem; }
    .navMenu .navMenu__list li {
      border: 0; }
      .navMenu .navMenu__list li a {
        width: 100%;
        display: inline; }
        .navMenu .navMenu__list li a:hover {
          text-shadow: .2rem .2rem 0 gray; }
    .navMenu .navMenu__list #productsTab #desplegableCategories li {
      list-style: none;
      font-weight: 400;
      width: 100%; }
      .navMenu .navMenu__list #productsTab #desplegableCategories li a {
        width: 100%; }
        .navMenu .navMenu__list #productsTab #desplegableCategories li a:hover {
          text-shadow: .2rem .2rem 0 gray; }
        .navMenu .navMenu__list #productsTab #desplegableCategories li a:not(:first-of-type) {
          border-top: 0.1rem solid #100f7a; }
    .navMenu .footmark {
      width: 7%; }
  main {
    min-height: 66vh; }
  .mainHome {
    padding-bottom: 2rem;
    display: grid;
    grid-template: auto auto auto auto auto / 50% 50%;
    grid-template-areas: "sale sale" "tshirts tops" "bottoms accs" "lkbk lkbk" "us us"; }
    .mainHome a {
      border: solid .1rem black;
      transition: .4s; }
      .mainHome a:hover {
        transform: scale(103%);
        z-index: 9; }
        .mainHome a:hover > img {
          box-shadow: 1.5rem 1.5rem 0rem rgba(0, 0, 0, 0.61); }
      .mainHome a img {
        width: 100%; }
    .mainHome #saleBanner {
      grid-area: sale; }
    .mainHome #tshirtsBanner {
      grid-area: tshirts; }
    .mainHome #topsBanner {
      grid-area: tops; }
    .mainHome #bottomsBanner {
      grid-area: bottoms; }
    .mainHome #accsBanner {
      grid-area: accs; }
    .mainHome #lkbkBanner {
      grid-area: lkbk; }
    .mainHome #usBanner {
      grid-area: us;
      border-bottom: solid .2rem black; }
  .popUpOuter .popUpInner {
    background-size: 70vh;
    width: 70vh;
    height: 70vh; }
    .popUpOuter .popUpInner #popUpInner__closeButtonContainer .closed {
      height: 2rem;
      width: 2rem;
      font-size: 2rem; }
    .popUpOuter .popUpInner #popUpInner__newsletterContainer {
      padding-bottom: 27%; }
      .popUpOuter .popUpInner #popUpInner__newsletterContainer .modal-title {
        font-size: 1.6rem; }
  .featured .marquee1, .featured .marquee2 {
    width: 6.25%; }
  form#homeNewsletter {
    grid-area: nwslttr;
    justify-self: center;
    padding: 2rem 0 4rem; }
    form#homeNewsletter input.send {
      width: 4rem; }
    form#homeNewsletter input.email {
      width: 30rem;
      color: #a1a1a1; }
  footer {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: center;
    padding-top: 4rem; }
    footer div {
      width: 30%;
      text-align: center; }
    footer ul {
      list-style: none; }
    footer .footmark {
      width: 35%; }
  h1 {
    font-size: 5.5rem; }
  .navBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8rem;
    padding: 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .navBar .navBar__tag {
      margin: 0 2rem;
      padding: .8rem 1.3rem; }
      .navBar .navBar__tag:active {
        border-right: solid 0.2rem #474747;
        border-bottom: solid 0.2rem #474747; }
    .navBar ul.navBar__infoMenu, .navBar ul.navBar__list {
      position: absolute;
      background-color: whitesmoke;
      border-right: solid 0.2rem #474747;
      border-bottom: solid 0.2rem #474747;
      padding: .8rem 15rem .8rem 2rem; }
      .navBar ul.navBar__infoMenu li, .navBar ul.navBar__list li {
        list-style: none;
        margin: 1rem 0;
        width: 100%; }
    .navBar ul.navBar__list {
      left: 14rem; }
    .navBar a.collapsed span#arrowup {
      display: none; }
    .navBar a.collapsed span#arrowdw {
      display: inline; }
    .navBar span#arrowup {
      display: inline; }
    .navBar span#arrowdw {
      display: none; }
  #prodCategories section#tshirts .product__grid, #prodCategories section#tops .product__grid, #prodCategories section#pants .product__grid, #prodCategories section#accs .product__grid {
    padding: 0 3rem;
    height: min-content;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-template-areas: "1*3-2 1*3-1 1*3";
    grid-template-areas: "2*3-2 2*3-1 2*3"; }
  #prodCategories section#tshirts .product__grid__itemViewBox, #prodCategories section#tops .product__grid__itemViewBox, #prodCategories section#pants .product__grid__itemViewBox, #prodCategories section#accs .product__grid__itemViewBox {
    text-align: center;
    /* .tshirts__grid__itemViewBox__title {

                    }

                    .tshirts__grid__itemViewBox__price {

                    }

                    .button {
                    } */ }
    #prodCategories section#tshirts .product__grid__itemViewBox a img, #prodCategories section#tops .product__grid__itemViewBox a img, #prodCategories section#pants .product__grid__itemViewBox a img, #prodCategories section#accs .product__grid__itemViewBox a img {
      width: 40%; }
  #productViewPageMain .productView {
    width: 100%;
    height: 100%;
    grid-template: auto auto / 50% 50%;
    grid-template-areas: "pic data" "pic intfc";
    column-gap: 2rem; }
    #productViewPageMain .productView #itemPic {
      grid-area: pic;
      justify-self: center;
      display: flex;
      justify-content: center; }
      #productViewPageMain .productView #itemPic img {
        width: 80%; }
    #productViewPageMain .productView span#itemData {
      grid-area: data;
      margin-top: 2rem;
      padding-bottom: 3rem;
      justify-self: left;
      align-self: flex-end;
      width: 100%;
      border-bottom: solid 0.1rem #474747; }
    #productViewPageMain .productView div#purchaseInterface {
      grid-area: intfc;
      justify-self: left; }
      #productViewPageMain .productView div#purchaseInterface form {
        padding: 3rem 0; }
      #productViewPageMain .productView div#purchaseInterface input {
        margin: 1rem 0 0; }
      #productViewPageMain .productView div#purchaseInterface #description {
        padding-top: 3rem;
        border-top: solid 0.1rem #474747; }
  .contactPageMain {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start; }
    .contactPageMain .contactForm, .contactPageMain .locationMap {
      width: 50%;
      padding: 0 2rem; }
    .contactPageMain .contactForm #contactForm__textInputs textarea {
      height: 20rem; }
  #fourofourMain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    #fourofourMain #bird {
      width: 25%; }
    #fourofourMain h3 {
      font-size: 2.5rem; }
    #fourofourMain p {
      font-size: 1.2rem; }
    #fourofourMain h4 {
      font-size: 1.8rem; } }

@media screen and (min-width: 1200px) {
  header .header__logo {
    width: 20%; }
  .mainHome a {
    border: solid .2rem black; }
  .mainHome #usBanner {
    border-bottom: solid .35rem black; } }
