@import "modules/body";
@import "modules/footer";
@import "modules/forms";
@import "modules/header";
@import "modules/main";
@import "modules/navBar";
@import "modules/navMenu";
@import "modules/table";
@import "modules/text";
@import "modules/newsletter";
@import "modules/products";
@import "modules/productsView";
@import "modules/mixins";

// ESTILOS GENERALES
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr { display: none;}

button {
    background: unset;
    border: unset;
    color: unset;
    align-content: center;
}

a { 
    color: inherit;
    text-decoration: none;
    font-style: normal;

    &:hover {
        color: unset;
        text-decoration: unset;
    }
}

.icon {
    height: 2rem;
    width: 2rem;
}

.button {
    @include button;
}

#up {
    width: 5rem;
    height: 5rem;
    padding: .5rem;
    text-align: center;
    font-size: 2.5rem;
    position: fixed;
    right: 0rem;
    bottom: 2rem;
    // border-radius: 50% 50%;
    background-color: map-get($palette, myred);
    z-index: 9999;

    &:hover {
        background-color: map-get($palette, mydarkred);
    }
}

.marqueeText {
    grid-area: marqueetxt;
    background-color: black;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;

    @keyframes marqueetxt {
        0% {transform: translate(110%,0);}
        100% {transform: translate(-100%,0);}
    }

    span { 
        animation: marqueetxt 12s infinite linear; 
    }
}

.breadcrumb {
    background-color: whitesmoke;
    border-bottom: solid .1rem rgb(71, 71, 71);
    border-radius: 0;
}

.featured {
    width: 100%;
    height: 6.25vw;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    z-index: 99;

    @keyframes marquee1 {
        0% {transform: translate(-800%, 0);
            transform: rotate(0deg);
        }
        100% {transform: translate(0, 0);
              transform: rotate(360deg);
        }
    }

    .marquee1 {
        transform: translate(-800,0);
        display: inline-block;
        width: 12.5%;
        // padding: 0 1rem;
        animation: marquee1 3s infinite linear;
        // transform: rotate(-5deg);
    }

    @keyframes marquee2 {
        0% {transform: translate(-800%, 0);
            transform: rotate(0deg);}
        100% {transform: translate(0, 0);
              transform: rotate(360deg);}
        }

    .marquee2 {
        display: inline-block;
        width: 12.5%;
        // padding: 0 1rem;
        animation: marquee2 3s infinite linear;
        // transform: rotate(-5deg);
    }

    &:hover>.marquee2, &:hover>.marquee1 {animation-play-state: paused;}    

}


@media screen and (min-width: 768px) {

    body {
        grid-template: 8rem 2rem auto auto 40rem / auto;
        grid-template-areas: "header"
                             "marqueetxt"
                             "main"
                             "nwslttr"
                             "footer";
    }

    #fourofourBody {
        grid-template: 50% 50% / auto;
        grid-template-areas: "error"
                             "footer";
    }

    header {
        display: inherit;
        align-items: center;

        #hamMenuIcon {
            display: none;
        }

        .header__isotype {
            display: none;
        }

        a.header__logotype {
            position: absolute;
            display: flex;
            flex-flow: row;
            justify-content: center;
            z-index: 999;

            img#logotype {
                // position: relative;
                // top: 1rem;
                // left: 42.5%
                width: 100%;
            }
            
        }

        a#logoColor {

             img.logotypeColor {
                width: 78.9%;
             }
        }

        

    }

    .marqueeText {
        font-size: 1.5rem;
        font-weight: 500;
    
        @keyframes marqueetxt {
            0% {transform: translate(100%,0);}
            100% {transform: translate(-40%,0);}
        }
    }

    .navMenu {
        top: 5rem;
        min-height: 66vh;
        font-size: 1.6rem;
        line-height: 5rem;
        text-align: left;
        padding: 1rem;

        .navMenu__list {

            li{
                border: 0;

                a{
                    width: 100%;
                    display: inline;

                    &:hover {
                        // background-color: whitesmoke;
                        // color: map-get($palette,mydarkblue);
                        text-shadow: .2rem .2rem 0 gray;
                    }
                }

            }

            #productsTab {

                #desplegableCategories {
                    // padding-left: 1.5rem;

                    li { 
                        list-style: none;
                        font-weight: 400;
                        width: 100%;

                        a{
                            width: 100%;

                            &:hover {
                                // color: whitesmoke;
                                text-shadow: .2rem .2rem 0 gray;
                            }

                            &:not(:first-of-type) {
                                border-top: 0.1rem solid map-get($palette, mydarkblue);
                            }
                        }
                    
                    }
                }
            }
        }

        .footmark {
            width: 7%;
        }
        
    }

    main {
        min-height: 66vh;
    }

    .mainHome {
        padding-bottom: 2rem;
        display: grid;
        grid-template: auto auto auto auto auto / 50% 50% ;
        grid-template-areas: "sale sale"
                             "tshirts tops"
                             "bottoms accs"
                             "lkbk lkbk"
                             "us us";

        a {
            border: solid .1rem black;
            transition: .4s;

            &:hover {
                transform: scale(103%);
                z-index: 9;

                &>img { box-shadow: 1.5rem 1.5rem 0rem rgba(0, 0, 0, 0.61);}
            }

            img {
                width: 100%;
            }
        }

        #saleBanner {
            grid-area: sale;
        }

        #tshirtsBanner {
            grid-area: tshirts;
        }

        #topsBanner {
            grid-area: tops;
        }

        #bottomsBanner {
            grid-area: bottoms;
        }

        #accsBanner {
            grid-area: accs;
        }

        #lkbkBanner {
            grid-area: lkbk;
        }

        #usBanner {
            grid-area: us;
            border-bottom: solid .2rem black;
        }
    
    
    }
    .popUpOuter {
        .popUpInner {
            background-size: 70vh;
            width: 70vh;
            height: 70vh;

            #popUpInner__closeButtonContainer{

                .closed {
                    height: 2rem;
                    width: 2rem;
                    font-size: 2rem;
                }
            }

            #popUpInner__newsletterContainer {
                padding-bottom: 27%;

                .modal-title{
                    font-size: 1.6rem;                }
            }
        }
    }

    .featured {
        .marquee1, .marquee2{
                width: 6.25%;
        }
    }

    form#homeNewsletter {
        grid-area: nwslttr;
        justify-self: center;
        padding: 2rem 0 4rem;

        input.send {
            width: 4rem;
        }

        input.email {
            width: 30rem;
            color: rgb(161, 161, 161);
        }


    }

    footer {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        justify-content: center;
        padding-top: 4rem;

        div {
            width: 30%;
            text-align: center;
        }

        ul {
            list-style: none;
        }
        
        .footmark {
            width: 35%;
        }
    }

    h1 {
        font-size: 5.5rem;
    }

    .navBar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 8rem;
        padding: 0 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .navBar__tag {
            margin: 0 2rem;
            padding: .8rem 1.3rem;

            &:active {
                border-right: solid .2rem rgb(71,71,71);
                border-bottom: solid .2rem rgb(71,71,71);
            }

        }

        ul.navBar__infoMenu {
            position: absolute;

                li {
                    list-style: none;
                    margin: 1rem 0;
                    width: 100%;
                }
            
            background-color: whitesmoke;
            border-right: solid .2rem rgb(71,71,71);
            border-bottom: solid .2rem rgb(71,71,71);
            padding: .8rem 15rem .8rem 2rem;


        }

        ul.navBar__list {
            @extend .navBar__infoMenu;
            left: 14rem;

        }

        a.collapsed {
            span#arrowup {
                display: none;
            }

            span#arrowdw {
                display: inline;
            }
        }

        span#arrowup {display: inline;}

        span#arrowdw {display: none;}
    }

    #prodCategories {

        section#tshirts, section#tops, section#pants, section#accs {
            .product__grid {
                padding: 0 3rem;
                height: min-content;
                display: grid;
                grid-template: repeat(3,1fr) / repeat(3, 1fr);
                @for $n from 1 to 3 {
                    $n: #{$n}*3;
                    grid-template-areas: "#{$n}-2 #{$n}-1 #{$n}";
                }
            }

            .product__grid__itemViewBox {
                text-align: center;
                    a {
                        img {
                            width: 40%;
                        }
                    }

                    /* .tshirts__grid__itemViewBox__title {

                    }

                    .tshirts__grid__itemViewBox__price {

                    }

                    .button {
                    } */
            }
        }
            
        
    }

    #productViewPageMain { 

        .productView {
            width: 100%;
            height: 100%;
            grid-template: auto auto / 50% 50%;
            grid-template-areas: "pic data"
                                 "pic intfc";
            column-gap: 2rem;
            
            
            #itemPic {
                grid-area: pic;
                justify-self: center;
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                }   
            } 

            span#itemData {
                grid-area: data;
                margin-top: 2rem;
                padding-bottom: 3rem;
                justify-self: left;
                align-self: flex-end;
                width: 100%;
                border-bottom: solid .1rem rgb(71,71,71);
            }

            div#purchaseInterface {
                grid-area: intfc;
                justify-self: left;

                form {
                    padding: 3rem 0;
                }

                input {
                    margin: 1rem 0 0;
                }

                #description {
                    padding-top: 3rem;
                    border-top: solid .1rem rgb(71,71,71);
                }
            }

                
            
        }
        
    }

    .contactPageMain {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: start;

        .contactForm, .locationMap {
            width: 50%;
            padding: 0 2rem;
        }

        .contactForm {
            #contactForm__textInputs {
                textarea {
                    height: 20rem;
                }
            }
        }
    }

    #fourofourMain {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        #bird {
            width: 25%;
        }

        h3 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
        }

        h4 {
            font-size: 1.8rem;
        }



        
    }

}

@media screen and (min-width: 1200px) {

    header {

        .header__logo {
            width: 20%;
        }
    }

    .mainHome {

        a {
            border: solid .2rem black;
        }

        #usBanner {
            border-bottom: solid .35rem black;
        }
    }

}