@import "mixins";

body {
    width: 100%;
    height: 100%;
    // font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    // background: linear-gradient(to bottom, #e21d7c,#e089b3,#e21d7c);
    // background-repeat: round;
}