@import "mixins";

footer {
    // width: 100%;
    grid-area: footer;
    // background-color: gray;
    background-image: url(../img/race-flag.png);
    background-size: 100%;
    padding: .5rem .8rem;
}