@import "mixins";

header {
    grid-area: header;
    height: 4rem;
    // width: 100%;
    background-color: map-get($palette, myred);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;

    .header__logo {
        // width: 60%;
        padding: .5rem;
        /* background: radial-gradient(#ebebe6,map-get($palette,myred)); */
        // box-shadow: 0 1.5rem .5rem #3f0823bd; 
        // border: groove .7rem map-get($palette,myred);
        // border-radius: 50% 50%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        animation: bounce 1.5s cubic-bezier(.37,.01,.63,1) infinite;

        /* #logo {
            width: 80%;
        } */
        
    }

    div.header__icons {
        padding: .8rem 0;
        height: 100%;
        display: flex;
        display: none;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        .search {
            position: absolute;
        }

        .searchButton { position: absolute;}
    }

    #hamMenuIcon {
        position: absolute;
        
    }
}

@keyframes bounce {
    0% {transform: translate(0, -.1rem);}
    // 25% {transform: translate(0);}
    50% {transform: translate(0, .1rem);}
    // 75% {transform: translate(0);}
    100% {transform: translate(0, -.1rem);}
}