@import "mixins";

header {
    grid-area: header;
    height: auto;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 245, 0.966);
    // border-bottom: solid .2rem map-get($palette, myred );
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 99999;

    .header__logotype {
        display: none;
    }

    .header__isotype {
        padding: .5rem;
        display: flex;
        flex-flow: row;
        justify-content: center;
        animation: bounce 1.5s cubic-bezier(.37,.01,.63,1) infinite;
        
    }

    div.header__icons {
        padding: .8rem 0;
        height: 100%;
        display: flex;
        display: none;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        .search {
            position: absolute;
        }

        .searchButton { position: absolute;}
    }

    #hamMenuIcon {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
}

@keyframes bounce {
    0% {transform: translate(0, -.1rem);}
    // 25% {transform: translate(0);}
    50% {transform: translate(0, .1rem);}
    // 75% {transform: translate(0);}
    100% {transform: translate(0, -.1rem);}
}