@import "mixins";

main {
    width: 100%;
    grid-area: main;
    min-height: 80vh;
    overflow: hidden;
}

.mainHome {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
} 

#fourofourMain {
    min-height: initial;
    grid-area: error;

}

