@mixin button {
    display: inline-block;
    text-decoration: none;
    padding: .2rem .1rem;
    border: .3rem outset;
}

$palette: (
    mygreen: #1DE284,
    myyellow: #DEE21D,
    myblue: #211DE2,
    mydarkblue: #100f7a,
    myred: #E21D7B
);