@mixin button {
    display: inline-block;
    text-decoration: none;
    padding: .2rem .5rem;
    border: solid .2rem rgb(71,71,71);
}

$palette: (
    mygreen: #1DE284,
    mydarkgreen: #17af66,
    myblue: #211DE2,
    mydarkblue: #100f7a,
    myred: #E21D7B,
    mydarkred: #c9196e,
    mygray: #474747

);