@import "mixins";

.navBar {
    display: none;
    /* grid-area: sideBar;
    color: whitesmoke;
    font-weight: 900;
    text-shadow: .1rem .1rem 0 map-get($palette,mydarkblue);
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;

        ul.navBar__infoTag {

            display: inline-block;

            li {
                list-style: none;
            }
        }
        
        a {
            display: inline-block;
            width: 100%;

        }

        #productsTab {

            #desplegableCategories {
            
                li {
                    color: map-get($palette,mydarkblue);
                    text-shadow: .1rem .1rem 0 whitesmoke;

                    &:hover {
                        background-color: map-get($palette, mydarkblue);
                        color: whitesmoke;
                        text-shadow: none;
                    }
                }
            }

            a {
                display: inline-block;
                width: 100%;
            }

            
        } */
    

}