@import "mixins";

//PÁGINA PRODUCTS

section#tshirts, section#tops, section#pants, section#accs {

    .product__grid {
        padding: 0 3rem;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
        grid-template-areas: "1 2" "3 4" "5 6" "7 8";
        row-gap: 3rem;
        column-gap: 3rem;
        margin: 1rem 0 1.6rem;

        @for $i from 1 through 8 {
            img:nth-child(#{$i}) {
                grid-area: #{$i};
            }

        }

        .product__grid__itemViewBox {
            text-align: center;
            a {
                
                img {
                    width: 45%;
                    display: inline-block;
                        
                }
            }

            .product__grid__itemViewBox__title {
                display: block;
                font-weight: 500;
                font-style: italic;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: rgb(27, 27, 27);
                margin: .5rem 0;
            }

            .product__grid__itemViewBox__price {
                display: inline-block;
                margin-right: 2rem;
                font-weight: 900;
                font-style: italic;
                font-size: 1.6rem;
                color: rgb(27, 27, 27);
            }

            .button--buy {
                background-color: map-get($palette, mygreen );
                font-weight: 500;

                &:active {
                    background-color: map-get($palette, mydarkgreen );
                }
            }

            .button--cart:active {
                
                    background-color: rgb(190, 190, 190);
                
            }
            
        }
    }
    
}