@import "mixins";

/* PAGINA PRODUCT VIEW */

#productViewPageMain {
    color: black;
    font-weight: 400;
    font-size: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    padding: 3.5rem 0;

    div.productView {
        display: none;

        &:target {
            display: grid;
        }

        span#itemData {
            height: fit-content;
            text-transform: capitalize;

            h2 {
                font-size: 3rem;
            }

            h3 {
                font-size: 2.5rem;
                font-weight: 900;
            }
        }

        #purchaseInterface { 
            width: 100%;
            /* display: flex;
            flex-flow: column nowrap;
            align-items: left; */

            select {
                border-radius: 0;
                border: solid .2rem rgb(71,71,71);
                background-color: whitesmoke;
                color: rgb(71,71,71);

                &:focus {
                    border-radius: 0;

                }
            }
        
            label {
                width: fit-content;
                font-weight: 400;
                font-size: 2rem;
                color: rgb(71,71,71);
                padding: 0 3px;
                width: 12%;
            }
        

            input {
                font-weight: 400;
                font-size: 2.3rem;
                color: rgb(71,71,71);
                padding: .2rem .8rem;
                border: solid .2rem rgb(71,71,71);
            }
        
            input#buy {
                background-color: map-get($palette,mygreen);
                margin-left: 1rem;

                &:active {
                    background-color: map-get($palette,mydarkgreen);

                }
            }

            input#addCart {

                &:active {
                    background-color: rgb(223, 223, 223);

                }
            }

            #description {
                display: inline-block;
                width: 100%;
                font-size: 1.6rem;
                background-color: whitesmoke;
                text-align: justify;
            }
        }
    }
    
    
}

