@import "mixins";

/* PAGINA PRODUCT VIEW */

#productViewPageMain {
    color: black;
    font-weight: 400;
    font-size: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    padding: 3.5rem;

    div.productView {
        display: none;

        &:target {
            display: grid;
        }

        span#itemData {
            height: fit-content;
            font-weight: 500;
            font-size: 3rem;
            text-transform: capitalize;
        }

        #purchaseInterface { 
            padding-top: 25px;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: left;
        
            label {
                width: fit-content;
                font-weight: 400;
                font-size: 1.6rem;
                color: rgb(71,71,71);
                padding: 3px;

            }
        
            input {
                font-weight: 400;
                font-size: 1.6rem;
                color: rgb(71,71,71);
                padding: .2rem .8rem;
                border: solid .2rem rgb(71,71,71);
            }
        
            input#buy { background-color: map-get($palette,mygreen); }

            #description {
                font-size: 1.6rem;
                background-color: rgba(245, 245, 245, 0.87);
                padding: 3px;
                text-align: justify;
            }
        }
    }
    
    
}

