@import "mixins";

.sideBar {
    // background-color: #211DE2;
    width: auto;
    grid-area: sideBar;
    color: whitesmoke;
    font-weight: 900;
    text-shadow: 2px 2px 0 map-get($palette,mydarkblue);
    text-align: center;

    .sideBar__navList {
        list-style: none;

        li {
            border: .5rem outset;
            text-transform: uppercase;

            &:active {
                
                background-color: whitesmoke;
                color: map-get($palette,mydarkblue);
                text-shadow: none;
                
            }
        }

        #productsTab {
            #desplegableCategories {
                li{
                    text-transform: lowercase;
                }
            }
        }

        a {
            display: inline-block;
            width: 100%;
        }
    }
}