@import "mixins";

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.5rem;
    /* color: map-get($palette, mygreen );
    text-shadow: 2px 2px 0 map-get($palette, myyellow); */
    color: black;
    display: block;
    height: fit-content;
    padding: .2rem .5rem;
    text-transform: capitalize;
    border-bottom: solid .3rem map-get($palette, myred );
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: black;
    padding: .2rem;
    text-transform: capitalize;
}

// TEXTOS LARGOS
.extenseText {
    padding: 0 8px;
    color: rgb(15, 15, 15);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    list-style-position: inside;
    background: rgba(245, 245, 245, 0.938);

    p {
        padding: 3px 0;

        &::selection, .extenseText li::selection {
            background-color: map-get($palette, myred );
        }
    
    }
}

// TEXTO FOOTER
footer {
    font-size: 1.2rem;
}

// TEXTO NEWLETTER HOME
form#homeNewsletter {
    font-size: 1.8rem;
}